// @file CSS styles for application Side Nav component
// @copyright Digital Living Software Corp. 2014-2016

// Sizes
//-----------

@sidenav-width: 320px;
@sidenav-small-width: 72px;
@sidenav-width-sm: 300px;
@sidenav-small-width-sm: 56px;
@sidenav-bg: #e0e0e0;
@sidenav-selected-item-bg: rgba(0, 0, 0, 0.08);
@sidenav-border: solid 1px #ffffff;

.pip-sticky-sidenav.overflow-visible {
	overflow: visible!important;
}

.pip-sticky-sidenav {
	md-backdrop.md-opaque.ng-enter {
		opacity: .48;
	}	
}

.pip-sticky-sidenav {

    // -moz-transition: all .2s ease;
    // -o-transition: all .2s ease;
    // transition: all .2s ease;
	// width: 320px;
	
    // transform: translateX(320ps);	
	// transition: width 2s easy;
	// -webkit-transition: width 2s easy;

	md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-right, md-sidenav.md-locked-open-remove.md-closed {
		background: @sidenav-bg;
		border-right: solid 1px #ffffff; 		
        width: @sidenav-width !important;
        min-width: @sidenav-width !important;
        max-width: @sidenav-width !important;
		overflow-x: hidden;

		// transition: all 3s easy;

		// transition: all 5.35s easy;
		// -webkit-transition: all 5.35s easy;	
		// transform: none;	
    }	
}

.pip-sticky-sidenav.pip-sticky-nav-small {
    // transform: translateX(42px);
	// transition: width 2s easy;
	// -webkit-transition: width 2s easy;

	border-right: @sidenav-border;

    md-sidenav.md-locked-open, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-left, md-sidenav.md-locked-open.md-closed, md-sidenav.md-locked-open.md-closed.md-sidenav-right, md-sidenav.md-locked-open-remove.md-closed {
        width: @sidenav-small-width !important;
        min-width: @sidenav-small-width !important;
        max-width: @sidenav-small-width !important;
		transition: all 3s easy;
		
		

		// transition: all 5.35s easy;
		// -webkit-transition: all 5.35s easy;
		// transform: none;
    }
}	

// @media (max-width: 456px) {
// 	.pip-sticky-sidenav.pip-sticky-nav-small {
// 		md-sidenav {
// 			width: @sidenav-small-width !important;
// 			min-width: @sidenav-small-width !important;
// 			max-width: @sidenav-small-width !important;
// 		}
// 	}	

// 	.pip-sticky-sidenav {
// 		md-sidenav {
// 			width: @sidenav-width !important;
// 			min-width: @sidenav-width !important;
// 			max-width: @sidenav-width !important;			
// 		}	
// 	}
// }
// @media (max-width: 768px) {
// 	.pip-sticky-sidenav.pip-sticky-nav-small {
// 		md-sidenav {
// 			width: @sidenav-small-width !important;
// 			min-width: @sidenav-small-width !important;
// 			max-width: @sidenav-small-width !important;			
// 		}
// 	}	

// 	.pip-sticky-sidenav {
// 		md-sidenav {
// 			width: @sidenav-width !important;
// 			min-width: @sidenav-width !important;
// 			max-width: @sidenav-width !important;					
// 		}	
// 	}
// }
