// @file CSS styles for application Side Nav component
// @copyright Digital Living Software Corp. 2014-2016

// Sizes
//-----------

@sidenav-width: 320px;
@sidenav-small-width: 72px;
@sidenav-width-sm: 300px;
@sidenav-small-width-sm: 56px;
@sidenav-bg: #e0e0e0;
@sidenav-selected-item-bg: rgba(0, 0, 0, 0.06);
@sidenav-border: solid 1px rgba(0, 0, 0, 0.12);

.pip-sticky-sidenav.overflow-visible {
  overflow: visible!important;
}

.pip-sticky-sidenav {
  md-backdrop.md-opaque.ng-enter {
	  opacity: .48;
  }
}

.pip-sticky-sidenav {
  background: @sidenav-bg;
  border-right: solid 1px #ffffff;


  md-sidenav {
    border-right: @sidenav-border;
    background: @sidenav-bg;
    width: @sidenav-width !important;
    transition: width 0.35s ease;
    height: calc(100%);
    overflow-x: hidden;
  }
}

.pip-sticky-sidenav.pip-sticky-nav-small {
  md-sidenav {
    width: @sidenav-small-width !important;
    transition: width 0.35s ease;
  }
}

// -------
.pip-sticky-sidenav.sidenav-desktop,  .pip-sticky-sidenav.sidenav-tablet, .pip-sticky-sidenav.sidenav-xdesktop {
  .pip-sticky-nav-header {
	  display: none;
  }
}

.sidenav-mobile {

}