
<h3 class="text-subhead2">{{ 'DISPLAY_AND_HIDE_SHADOWS' | translate }}</h3>

<div>
    <md-button class="lm0 md-raised md-accent flat" ng-click="onShowShadow()">{{ 'SHOW_SHADOW' |
        translate }}
    </md-button>
    <md-button class="md-raised md-accent flat" ng-click="onShowShadowSm()">
        {{ 'SHOW_SMALL_SHADOW' | translate }}
    </md-button>
    <md-button class="md-raised md-accent flat" ng-click="onHideShadow()">{{ 'HIDE_SHADOW' |
        translate }}
    </md-button>
</div>

<h3 class="text-subhead2 tm0 bm0">{{ 'CODE' | translate }}</h3>

<pre class="text-body1 color-window-bg p16">
<h3 class="text-subhead2 m0">{{:: 'CODE' | translate}}</h3>
<code class="language-js"><strong>pipAppBar.showShadow</strong>()

<strong>pipAppBar.showShadowSm</strong>()

<strong>pipAppBar.hideShadow</strong>()</code></pre>
