<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Nav Sample</title>

    <link rel="stylesheet" href="../../lib/pip-webui-lib.css"/>
    <link rel="stylesheet" href="../../dist/pip-webui-nav.css"/>
    <link rel="stylesheet" href="../../lib/pip-webui-layouts.css"/>
    <link rel="stylesheet" href="../../lib/pip-webui-behaviors.css"/>
    <link rel="stylesheet" href="../../lib/pip-webui-themes.css"/>
    <link rel="stylesheet" href="../styles.css"/>
    <link rel="stylesheet" href="styles.css"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <script src="../../lib/pip-webui-lib.js"></script>
    <script src="../../lib/pip-webui-services.js"></script>
    <script src="../../lib/pip-webui-layouts.js"></script>
    <script src="../../lib/pip-webui-behaviors.js"></script>
    <script src="../../lib/pip-webui-themes.js"></script>
    <script src="../../dist/pip-webui-nav.js"></script>

    <script src="index.js"></script>
</head>

<body ng-app="app" ng-if="!$reset" ng-controller="appController"
     class="pip-main layout-column {{$theme}}" md-theme="{{$theme}}">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="menu"
                        ng-click="onToggleMenu()" hide-gt-sm>
                    <md-icon md-svg-icon="icons:menu"></md-icon>
                </md-button>
                <span>Nav components</span>
            </div>
        </md-toolbar>

        <div class="layout-row flex" ng-class="{'small-sidenav': smallSize}">
        <pip-sticky-sidenav>
            <pip-sticky-nav-header 
                            pip-title="user.fullName" 
                            pip-sub-title="user.details" 
                            pip-image="user.imageUrl">
            </pip-sticky-nav-header>
            <pip-sticky-nav-menu pip-links="content">
            </pip-sticky-nav-menu>
        </pip-sticky-sidenav>   

            <md-content id="content" class="flex" style="padding: 16px; max-width: 100%" >
                hjjhgjhgjhgj
                <!--<div ui-view></div>-->

                <md-button ng-click="onTest()">
                    Test
                </md-button>

 <md-button class="lm0 md-raised md-accent flat" ng-click="onToggleSideNav()">{{ 'TOGGLE' | translate }} Side Nav</md-button>
 
            </md-content>
        </div>
</body>
</html>