<div pip-focused pip-focused-tabindex="2">
<md-menu md-position-mode="target-right target" class="pip-primary-actions" ng-repeat="action in config.primaryLocalActions">
    <md-button class="pip-primary-actions-action md-icon-button pip-focusable"
                ng-click="clickAction(action, $mdOpenMenu);"
                tabindex="-1"
                ng-hide="isHidden(action)"
                aria-label="{{action.title | translate}}">
        <div class="pip-primary-actions-badge" ng-show="action.count > 0">
            {{actionCount(action)}}
        </div>
        <md-icon md-svg-icon="{{action.icon}}"></md-icon>
    </md-button>
    <md-menu-content width="3" >
        <md-menu-item ng-repeat-start="subAction in action.subActions"
                        ng-if="!subAction.divider"
                        ng-hide="isHidden(subAction)">
            <md-button class="pip-focusable" ng-hide="subAction.divider"
                        tabindex="-1"
                        ng-click="clickAction(subAction)">
                {{::subAction.title | translate}}
            </md-button>
        </md-menu-item>
        <md-menu-divider ng-if="subAction.divider" ng-repeat-end></md-menu-divider>
    </md-menu-content>
</md-menu>

<md-menu md-position-mode="target-right target" class="pip-primary-actions" ng-repeat="action in config.primaryGlobalActions">
    <md-button class="pip-primary-actions-action md-icon-button pip-focusable"
               ng-click="clickAction(action, $mdOpenMenu);"
               ng-hide="isHidden(action)"
               tabindex="-1"
               aria-label="{{action.title | translate}}">
        <div class="pip-primary-actions-badge color-badge-bg" ng-show="action.count > 0">
            {{actionCount(action)}}
        </div>
        <md-icon md-svg-icon="{{action.icon}}"></md-icon>
    </md-button>
    <md-menu-content width="3" >
        <md-menu-item ng-repeat-start="subAction in action.subActions"
                      ng-if="!subAction.divider"
                      ng-hide="isHidden(subAction)">
            <md-button class="pip-focusable" ng-hide="subAction.divider"
                        tabindex="-1"
                       ng-click="clickAction(subAction)">
                {{subAction.title | translate}}
            </md-button>
        </md-menu-item>
        <md-menu-divider ng-if="subAction.divider" ng-repeat-end></md-menu-divider>
    </md-menu-content>
</md-menu>
</div>