<md-toolbar md-theme="{{ $theme }}" ng-hide="!title" class="layout-row layout-align-start-center">

    <md-button class="pip-nav-header-user md-icon-button flex-fixed"
                ng-click="onUserClick()"
                aria-label="current user">

        <img  src="" class="pip-nav-header-user-image" ng-class="imageCss flex-fixed"></img>
    </md-button>
    
    <div class="pip-nav-header-user-text">
        <a class="pip-nav-header-user-pri"
            ng-click="onUserClick()">
            {{ title }}
        </a>
        <div class="pip-nav-header-user-sec">
            {{ subtitle | translate }}
        </div>
    </div>

</md-toolbar>
