<md-toolbar class="md-subhead color-primary-bg {{ vm.themeClass}}" ng-if="vm.show()" ng-class="{'md-whiteframe-3dp': vm.media('xs')}">
    <div class="pip-divider"></div>
        <md-select ng-model="vm.selectedIndex" 
                    tabindex="15"
                    ng-disabled="vm.disabled()" 
                    md-container-class="pip-full-width-dropdown" 
                    aria-label="DROPDOWN" 
                    md-ink-ripple 
                    md-on-close="vm.onSelect(selectedIndex)">
            <md-option ng-repeat="action in vm.actions" value="{{ ::$index }}" ng-selected="vm.activeIndex == $index ? true : false">
                {{ (action.title || action.name || action) | translate }}
            </md-option>
        </md-select>
</md-toolbar>
