<md-toolbar class="md-subhead color-primary-bg {{class}}" ng-if="show()" ng-class="{'md-whiteframe-3dp': $mdMedia('xs')}">
    <div class="pip-divider position-top m0"></div>
        <md-select ng-model="selectedIndex" ng-disabled="disabled()" md-container-class="pip-full-width-dropdown" aria-label="DROPDOWN" md-ink-ripple md-on-close="onSelect(selectedIndex)">
            <md-option ng-repeat="action in actions" value="{{ ::$index }}" ng-selected="activeIndex == $index ? true : false">
                {{ (action.title || action.name) | translate }}
            </md-option>
        </md-select>
</md-toolbar>