<md-toolbar class="pip-nav {{  $ctrl.themeClass }}" ng-class="{'pip-visible': $ctrl.show(), 'pip-shadow':  $ctrl.showShadow()}">
    <md-tabs ng-if="$ctrl.media($ctrl.breakpoints)" md-selected="$ctrl.selected.activeTab" ng-class="{'disabled': $ctrl.disabled()}"
             md-stretch-tabs="true" md-dynamic-height="true" >
        <md-tab  ng-repeat="tab in $ctrl.tabs track by $index" ng-disabled="$ctrl.tabDisabled($index)"
                md-on-select="$ctrl.onSelect($index)">
            <md-tab-label>
                {{:: tab.nameLocal }}
                <div class="pip-tabs-badge color-badge-bg" ng-if="tab.newCounts > 0 && tab.newCounts <= 99">
                    {{ tab.newCounts }}
                </div>
                <div class="pip-tabs-badge color-badge-bg" ng-if="tab.newCounts > 99">!</div>
            </md-tab-label>
        </md-tab>
    </md-tabs>
    <div class="md-subhead pip-tabs-content color-primary-bg  " ng-if="!$ctrl.media($ctrl.breakpoints)">
        <div class="pip-divider position-top m0"></div>
        <md-select ng-model="$ctrl.selected.activeIndex" ng-disabled="$ctrl.disabled()" 
                   md-container-class="pip-full-width-dropdown" aria-label="SELECT" md-ink-ripple
                   md-on-close="$ctrl.onSelect($ctrl.selected.activeIndex)">
            <md-option ng-repeat="tab in $ctrl.tabs track by $index" class="pip-tab-option" value="{{ ::$index }}">
                {{ ::tab.nameLocal }}
                <div class="pip-tabs-badge color-badge-bg" ng-if="tab.newCounts > 0 && tab.newCounts <= 99">
                    {{ tab.newCounts }}
                </div>
                <div class="pip-tabs-badge color-badge-bg" ng-if="tab.newCounts > 99">!</div>
            </md-option>
        </md-select>
    </div>
</md-toolbar>
