<md-toolbar class="pip-nav color-primary-bg {{  $ctrl.themeClass }}" ng-class="{'pip-visible': $ctrl.show(), 'pip-shadow':  $ctrl.showShadow()}">
    <md-tabs class="color-primary-bg"" ng-if="$ctrl.media($ctrl.breakpoints)" md-selected="$ctrl.activeIndex" ng-class="{'disabled': $ctrl.isDisabled()}"
             md-stretch-tabs="true" md-dynamic-height="true" >
        <md-tab  ng-repeat="tab in $ctrl.tabs track by $index" ng-disabled="$ctrl.tabDisabled($index)"
                md-on-select="$ctrl.onSelect($index)">
            <md-tab-label>
                {{:: tab.nameLocal }}
                <div class="pip-tabs-badge color-badge-bg" ng-if="tab.counts > 0 && tab.counts <= 99">
                    {{ tab.counts }}
                </div>
                <div class="pip-tabs-badge color-badge-bg" ng-if="tab.counts > 99">!</div>
            </md-tab-label>
        </md-tab>
    </md-tabs>
    <div class="md-subhead pip-tabs-content color-primary-bg  " ng-if="!$ctrl.media($ctrl.breakpoints)">
        <div class="pip-divider position-top m0"></div>
        <md-select ng-model="$ctrl.activeIndex" ng-disabled="$ctrl.isDisabled()" 
                   md-container-class="pip-full-width-dropdown" aria-label="SELECT" md-ink-ripple
                   md-on-close="$ctrl.onSelect($ctrl.activeIndex)">
            <md-option ng-repeat="tab in $ctrl.tabs track by $index" class="pip-tab-option" value="{{ ::$index }}">
                {{ ::tab.nameLocal }}
                <div class="pip-tabs-badge color-badge-bg" ng-if="tab.counts > 0 && tab.counts <= 99">
                    {{ tab.counts }}
                </div>
                <div class="pip-tabs-badge color-badge-bg" ng-if="tab.counts > 99">!</div>
            </md-option>
        </md-select>
    </div>
</md-toolbar>
