<md-list>
    <div class="pip-section" ng-repeat="section in vm.sections"
        ng-hide="vm.isHidden(section)">
        
        <md-divider ng-show="$index > 0 && !vm.isSectionEmpty(section)"></md-divider>
        <md-subheader ng-show="section.title">{{::section.title | translate}}</md-subheader>
        
        <md-list-item class="pip-focusable no-border" 
            ng-repeat="link in section.links"
            ng-click="vm.clickLink($event, link)"
            ng-hide="vm.isHidden(link)">
            <md-icon md-svg-icon="{{link.icon}}" ng-hide="!link.icon" class="tm0 bm0"></md-icon>
            <p>{{::link.title | translate}}</p>
        </md-list-item>
    </div>
</md-list>
