<div ng-if="$ctrl.sections && $ctrl.sections.length">
    <md-list class="sidenav-list" pip-focused pip-focused-tabindex="10" pip-with-hidden="true">
        <md-list-item class="no-border pip-sticky-nav-menu-item pip-sticky-nav-expanded-button" 
                ng-click="$ctrl.onExpand()" ng-disabled="!$ctrl.isCollapsed"
                tabindex="-1" ng-if="$ctrl.expandedButton">

            <md-icon class="pip-sticky-nav-menu-icon" md-svg-icon="icons:chevron-left" ng-if="$ctrl.expanded">
            </md-icon>
            <md-icon class="pip-sticky-nav-menu-icon" md-svg-icon="icons:chevron-right" ng-if="!$ctrl.expanded" >
            </md-icon>

        </md-list-item>
        <md-divider ng-show="$ctrl.expandedButton"></md-divider>
        <div class="pip-section" ng-repeat="section in $ctrl.sections" ng-hide="section.access && !section.access(section)">

            <md-divider ng-show="$index > 0 && !$ctrl.isSectionEmpty(section.links)"></md-divider>
            <md-subheader ng-show="section.title" style="height: 48px;">
                <span ng-if="$ctrl.expanded" class="pip-sticky-nav-menu-title section-title">
                    {{ ::section.title | translate }}
                </span>
                <md-icon class="pip-sticky-nav-menu-icon section-icon" md-svg-icon="{{ section.icon }}" 
                    ng-if="!$ctrl.sideNavState.showIconTooltype && !$ctrl.expanded && section.icon">
                </md-icon>
                <md-icon class="pip-sticky-nav-menu-icon section-icon" md-svg-icon="{{ section.icon }}" 
                    ng-if="$ctrl.sideNavState.showIconTooltype && !$ctrl.expanded && section.icon">
                    <md-tooltip md-visible="showTooltip" md-direction="right" class="sidenav-icon-tooltip">
                        {{ ::section.tooltipText || section.title | translate }}
                    </md-tooltip>
                </md-icon>
                <md-icon class="pip-sticky-nav-menu-icon section-icon" md-svg-icon="{{ $ctrl.defaultIcon }}" 
                    ng-if="!$ctrl.sideNavState.showIconTooltype && !$ctrl.expanded && !section.icon">
                </md-icon>
                <md-icon class="pip-sticky-nav-menu-icon section-icon" md-svg-icon="{{ $ctrl.defaultIcon }}" 
                        ng-if="$ctrl.sideNavState.showIconTooltype && !$ctrl.expanded && !section.icon">
                    <md-tooltip md-visible="showTooltip" class="md-secondary" class="sidenav-icon-tooltip">
                        {{ ::section.tooltipText || section.title | translate }}
                    </md-tooltip>
                </md-icon>
            </md-subheader>

            <md-list-item class="no-border pip-sticky-nav-menu-item pip-focusable" tabindex="-1" 
                    ng-repeat="link in section.links"  ng-class="{'active': $ctrl.isActive(link)}"
                    ng-hide="link.access && !link.access(link)">
                <md-button class="layout-row layout-align-start-center pip-button-block" tabindex="-1" ng-click="$ctrl.clickLink($event, link)">
                    <!--<md-tooltip md-visible="showTooltip" md-direction="right">
                        {{ ::link.tooltipText | translate  }}
                    </md-tooltip>-->
                    <div class="pip-sticky-nav-menu-icon-block">
                        <md-icon class="pip-sticky-nav-menu-icon flex-fixed" md-svg-icon="{{ link.icon }}" 
                            ng-if="!($ctrl.sideNavState.showIconTooltype && !link.tooltipText && !$ctrl.expanded)" ng-hide="!link.icon">
                        </md-icon>
                        <md-icon class="pip-sticky-nav-menu-icon flex-fixed" md-svg-icon="{{ link.icon }}" 
                                ng-hide="!link.icon" ng-if="$ctrl.sideNavState.showIconTooltype && !link.tooltipText && !$ctrl.expanded">
                            <md-tooltip md-visible="showTooltip" md-direction="right" class="sidenav-icon-tooltip">
                                {{ ::link.tooltipText || link.title | translate }}
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <div class="pip-sticky-nav-menu-title">
                        {{ ::link.title | translate }}
                    </div>
                    <div class="pip-sticky-nav-menu-badge {{ link.badgeStyle ? link.badgeStyle : 'color-badge-bg' }} flex-fixed" ng-if="link.count && link.count < 100">
                        {{ link.count }}
                    </div>
                    <div class="pip-sticky-nav-menu-badge {{ link.badgeStyle ? link.badgeStyle : 'color-badge-bg' }} flex-fixed" ng-if="link.count && link.count > 99">
                        !
                    </div>
                </md-button>
            </md-list-item>
        </div>
    </md-list>
</div>