<md-list class="sidenav-list">
    <md-list-item class="pip-focusable no-border pip-sticky-nav-menu-item pip-sticky-nav-expanded-button" 
        ng-click="onExpand()"
        ng-disabled="!isCollapsed"
        ng-if="expandedButton">


        <md-icon md-svg-icon="icons:chevron-left" ng-if="expanded" class="pip-sticky-nav-menu-icon">
            <!--<md-tooltip md-visible="showTooltip" ng-if="sideNavState.showIconTooltype && !expanded" md-direction="right">
                {{::'Expand menu' | translate}}
            </md-tooltip>-->
        </md-icon>
        <md-icon md-svg-icon="icons:chevron-right" ng-if="!expanded" class="pip-sticky-nav-menu-icon">
            <!--<md-tooltip md-visible="showTooltip" ng-if="sideNavState.showIconTooltype && !expanded" md-direction="right">
                {{::'Shrink menu' | translate}} 
            </md-tooltip>-->
        </md-icon>

    </md-list-item>
    <md-divider ng-show="expandedButton"></md-divider>
    <div class="pip-section" ng-repeat="section in sections"
         ng-hide="section.access && !section.access(section)">

        <md-divider ng-show="$index > 0 && !isSectionEmpty(section.links)"></md-divider>
        <md-subheader ng-show="section.title" style="height: 48px;">
            <span ng-if="expanded" class="pip-sticky-nav-menu-title section-title">
                {{::section.title | translate}}
            </span>

            <md-icon md-svg-icon="{{section.icon}}" ng-if="!sideNavState.showIconTooltype && !expanded && section.icon" class="pip-sticky-nav-menu-icon section-icon">
            </md-icon>
            <md-icon md-svg-icon="{{section.icon}}" ng-if="sideNavState.showIconTooltype && !expanded && section.icon" class="pip-sticky-nav-menu-icon section-icon">
                <md-tooltip md-visible="showTooltip" md-direction="right">
                    {{::section.title | translate}}
                </md-tooltip>
            </md-icon>

            <md-icon md-svg-icon="{{defaultIcon}}" ng-if="!sideNavState.showIconTooltype && !expanded && !section.icon" class="pip-sticky-nav-menu-icon section-icon">
            </md-icon>            
            <md-icon md-svg-icon="{{defaultIcon}}" ng-if="sideNavState.showIconTooltype && !expanded && !section.icon" class="pip-sticky-nav-menu-icon section-icon">
                <md-tooltip md-visible="showTooltip" class="md-secondary">
                    {{::section.title | translate}}
                </md-tooltip>
            </md-icon>

        </md-subheader>

        <md-list-item class="no-border pip-sticky-nav-menu-item" 
                      ng-repeat="link in section.links"
                      ng-class="{'active': isActive(link)}"
                      ng-hide="link.access && !link.access(link)">
            <md-button class="layout-row layout-align-start-center pip-focusable" 
                       ng-click="clickLink($event, link)">
                <div class="pip-sticky-nav-menu-icon-block">

                    <md-icon md-svg-icon="{{link.icon}}"
                             ng-if="!(sideNavState.showIconTooltype && !expanded)"
                             ng-hide="!link.icon"
                             class="pip-sticky-nav-menu-icon flex-fixed">
                    </md-icon>                    
                    <md-icon md-svg-icon="{{link.icon}}"
                             ng-hide="!link.icon"
                             ng-if="sideNavState.showIconTooltype && !expanded"
                             class="pip-sticky-nav-menu-icon flex-fixed">
                        <md-tooltip md-visible="showTooltip" md-direction="right">
                            {{::link.title | translate}}
                        </md-tooltip>
                    </md-icon>
                </div>
                <div class="pip-sticky-nav-menu-title">
                    {{::link.title | translate}}
                </div>

                <!--<div class="flex pip-sticky-nav-menu-expander"></div>-->
                <div class="pip-sticky-nav-menu-badge {{ link.badgeStyle ? link.badgeStyle : 'color-badge-bg' }} flex-fixed" ng-if="link.count && link.count < 100">
                    {{link.count}}
                </div>
                <div class="pip-sticky-nav-menu-badge {{ link.badgeStyle ? link.badgeStyle : 'color-badge-bg' }} flex-fixed" ng-if="link.count && link.count > 99">
                    !
                </div>                
            </md-button>
        </md-list-item>
    </div>
</md-list>
