<div class="pip-breadcrumb-block">
    
    <div class="text-overflow" ng-if="$ctrl._media($ctrl.breakpoint)">
        <!-- Search criteria -->
        <span ng-if="$ctrl.config.criteria" ng-click="$ctrl.openSearch()">{{ $ctrl.config.criteria }} -</span>
        <!-- Breadcrumb navigation -->
        <span class="pip-breadcrumb-item {{ $last ? 'breadcrumb-accent' : '' }}" 
            ng-if="$ctrl.config.items && $ctrl.config.items.length > 0" 
            ng-repeat-start="item in $ctrl.config.items"
            ng-click="$ctrl.onClick(item)" ng-init="stepWidth = 100/($ctrl.config.items.length + 1)" 
            ng-class="{'cursor-pointer': !$last}"
            ng-style="{'max-width': stepWidth + '%'}">

            <!--<span class="hide-xs" ng-if="!$last || !$ctrl.actionsVisible(item)">{{item.title | translate}}</span>-->
            <span ng-if="!$last || !$ctrl.actionsVisible(item)">{{ item.title | translate }}</span>

            <div ng-if="$last && $ctrl.actionsVisible(item)" style="display: inline-block; position: relative;">
            <!--<md-menu class="hide-xs" md-offset="0 44" >-->
            <md-menu  md-offset="0 44">
                <span class="layout-row pip-breadcrumb-item-menu cursor-pointer {{ $last ? 'breadcrumb-accent' : '' }}" 
                    ng-click="$ctrl.onOpenMenu($mdOpenMenu, $event)" md-ink-ripple aria-label="open breadcrumb actions">
                    {{ item.title | translate }}
                    <md-icon class="pip-triangle-down" md-svg-icon="icons:triangle-down"></md-icon>
                </span>
                <md-menu-content width="4">
                    <md-menu-item ng-if="!subItem.divider"
                            ng-repeat-start="subItem in item.subActions" ng-if="item.subActions && item.subActions.length > 0">
                        <md-button ng-click="$ctrl.onSubActionClick(subItem)" ng-if="!action.divider" tabindex="4">
                            <md-icon md-menu-align-target="" ng-if="subItem.icon" md-svg-icon="{{ subItem.icon }}"></md-icon>
                            <span>{{ subItem.title | translate }}</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider ng-if="subItem.divider" ng-repeat-end></md-menu-divider>                    
                </md-menu-content>
            </md-menu>
            </div>
        </span>
        <md-icon ng-repeat-end md-svg-icon="icons:chevron-right" ng-hide="$last"></md-icon>
        <!-- Text title -->
        <span class="pip-title breadcrumb-accent" ng-if="$ctrl.config.text">{{ $ctrl.config.text | translate }}</span>
    </div>

    <!-- Mobile breadcrumb dropdown -->
    <div style="position: relative;" ng-if="!$ctrl._media($ctrl.breakpoint)">
        <md-menu  md-offset="0 44" >
            <span class="pip-mobile-breadcrumb layout-row" 
                    ng-click="$ctrl.config.items && $ctrl.config.items.length > 1 ? $mdOpenMenu() : return">
                <span class="text-overflow">
                    <!-- Search criteria -->
                    <span ng-if="$ctrl.config.criteria"
                        ng-click="$ctrl.openSearch()">{{ $ctrl.config.criteria }} -
                    </span>
                    <span class="breadcrumb-accent" ng-if="$ctrl.config.text">    
                        {{ $ctrl.config.text | translate }}
                    </span>
                    <span ng-if="$ctrl.config.items && $ctrl.config.items.length > 0" 
                        class="breadcrumb-accent {{ ($ctrl.config.items && $ctrl.config.items.length > 1) ? 'cursor-pointer' : '' }}">    
                        {{ $ctrl.config.items[$ctrl.config.items.length - 1].title | translate }}
                    </span>
            </span>
            <md-icon class="pip-triangle-down cursor-pointer breadcrumb-accent" md-svg-icon="icons:triangle-down" 
                    ng-if="$ctrl.config.items && $ctrl.config.items.length > 1"></md-icon>
            </span>
            <md-menu-content width="4">
                <md-menu-item ng-repeat="item in $ctrl.config.items" ng-if="$ctrl.config.items && $ctrl.config.items.length > 0">
                    <md-button ng-click="$ctrl.onClick(item)" tabindex="5">
                        <md-icon md-menu-align-target="" ng-if="item.icon" md-svg-icon="{{ item.icon }}"></md-icon>
                        <span>
                            {{ item.title | translate }}</span>
                        </md-button>
                </md-menu-item>
                <md-menu-item ng-if="$ctrl.config.text">
                    <md-button tabindex="5"><span class="text-grey">{{ $ctrl.config.text | translate }}</span></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>

</div>