<div class="md-toolbar-tools pip-search-container" ng-if="$ctrl.enabled">
    <div class="layout-row pip-search-selected">
        <md-button class="md-icon-button" 
            tabindex="6"
            aria-label="start search" 
            ng-click="$ctrl.onClick()">
            <md-icon md-svg-icon="icons:search"></md-icon>
        </md-button>
        <input class="pip-search-text flex"
            type="search"
            tabindex="6"
            ng-model="$ctrl.search.text" 
            ng-keydown="$ctrl.onKeyDown($event)" />
        <md-button class="md-icon-button" 
            tabindex="6"
            aria-label="clear search" 
            ng-click="$ctrl.clear()">
            <md-icon md-svg-icon="icons:cross-circle"></md-icon>
        </md-button>
    </div>
</div>
<div class="md-toolbar-tools layout-row layout-align-end-center flex-fixed lp0 rp0"  ng-if="!$ctrl.enabled">
    <md-button class="md-icon-button"
                tabindex="5"
               aria-label="start search"
               ng-click="$ctrl.enable()">
        <md-icon md-svg-icon="icons:search"></md-icon>
    </md-button>
</div>
