<div class="md-toolbar-tools layout-row pip-search-container" ng-if="vm.enabled">
    <md-button class="md-icon-button" 
        aria-label="start search" 
        ng-click="vm.onClick()">
        <md-icon md-svg-icon="icons:search"></md-icon>
    </md-button>
    <input class="pip-search-text flex"
        type="search"
        ng-model="vm.search.text" 
        ng-keydown="vm.onKeyDown($event)" />
    <md-button class="md-icon-button" 
        aria-label="clear search" 
        ng-click="vm.clear()">
        <md-icon md-svg-icon="icons:cross-circle"></md-icon>
    </md-button>
</div>
<div class="md-toolbar-tools layout-row layout-align-end-center flex-fixed lp0 rp0"  ng-if="!vm.enabled">
    <md-button class="md-icon-button"
               aria-label="start search"
               ng-click="vm.enable()">
        <md-icon md-svg-icon="icons:search"></md-icon>
    </md-button>
</div>
