.pip-search-bar {
  .pip-search-container {

    width: 100%;
    .pip-search-text {
      color: #fff !important;
      background-color: transparent;
      border: none;
      font-size: 16px;
      outline: none;

      &::-ms-clear {
        display: none;
      }
      
      &::-webkit-search-cancel-button {
        -webkit-appearance: none; /* без сброса оформление не применится */
      }
    }
  }
  .md-toolbar-tools {
    padding-left: 0px;
    padding-right: 0px;
  }
  .md-toolbar-tools { .md-button:last-child {
      margin-right: 0px;
  }
  }
  .md-toolbar-tools { .md-button:first-child {
      margin-left: 0px;
  }}
  
}

.pip-search-active {
  padding: 0px!important;

  .pip-search-bar {
    width: 100%;
    position: absolute;

    .pip-search-selected {
      width: calc(100% - 16px);
      background-color: rgba(0, 0, 0, 0.12);
      margin: 0 auto;
      border-radius: 4px;
      animation: search-animation 0.35s ease;
    }

    .md-toolbar-tools {
       .md-button:last-child {
         margin-right: 8px;
       }
    }
  }

  .pip-secondary-actions, .pip-primary-actions,
  .pip-language-picker, .pip-breadcrumb, .pip-nav-icon {
    display: none;
  }
}


@keyframes search-animation {
    0% {
        width: 0px;
    }
    10% {
      width: 70%;
    }
    100% {
        width: calc(100% - 16px);
    }
}