// @file CSS styles for application Search Bar component
// @copyright Digital Living Software Corp. 2014-2016

.pip-search-bar {
  .pip-search-container {
    width: 100%;
    .pip-search-text {
      color: #fff !important;
      background-color: transparent;
      border: none;
      font-size: 16px;
      outline: none;

      &::-ms-clear {
        display: none;
      }
      
      &::-webkit-search-cancel-button {
        /* псевдо что-то, что отвечает за кнопку очистки */
        -webkit-appearance: none; /* без сброса оформление не применится */
      }
    }
  }
  .md-toolbar-tools {
    padding-left: 0px;
    padding-right: 0px;
  }
  .md-toolbar-tools { .md-button:last-child {
      margin-right: 0px;
  }
  }
  .md-toolbar-tools { .md-button:first-child {
      margin-left: 0px;
  }}
  
}

