<md-button class="md-icon-button pip-nav-icon"
            ng-if="$ctrl.config.type != 'none'"
            ng-class="$ctrl.config.class"
            ng-click="$ctrl.onNavIconClick()"
            tabindex="{{ $ctrl.config.type=='menu' || $ctrl.config.type=='back' ? 4 : -1 }}"
            aria-label="menu">
    <!-- Menu icon -->
    <md-icon ng-if="$ctrl.config.type=='menu'"
        md-svg-icon="icons:menu"></md-icon>
    <!-- Image -->
    <img ng-src="{{ $ctrl.config.imageUrl }}" ng-if=" $ctrl.config.type=='image'" height="24" width="24">
    <!-- Back icon -->
    <md-icon ng-if="$ctrl.config.type=='back'"
        md-svg-icon="icons:arrow-left"></md-icon>
    <!--Icon -->
    <md-icon ng-if="$ctrl.config.type=='icon'"
             md-svg-icon="{{ $ctrl.config.icon }}"></md-icon>
</md-button>
