<md-button class="md-icon-button pip-nav-icon"
            ng-if="config.type != 'none'"
            ng-class="config.class"
            ng-click="onNavIconClick()"
            aria-label="menu">
    <!-- Menu icon -->
    <md-icon ng-if="config.type=='menu'"
        md-svg-icon="icons:menu"></md-icon>
    <!-- Image -->
    <img ng-src="{{config.imageUrl}}" ng-if="config.type=='image'" height="24" width="24">
    <!-- Back icon -->
    <md-icon ng-if="config.type=='back'"
        md-svg-icon="icons:arrow-left"></md-icon>
    <!--Icon -->
    <md-icon ng-if="config.type=='icon'"
             md-svg-icon="{{config.icon}}"></md-icon>
</md-button>
