
    <md-content id="content" class="flex" style="padding: 16px; max-width: 100%" >
            <pip-main style="background: lightblue;">
                <pip-main-body style="padding: 24px" class="layout-row layout-align-start-start">
                        <div style="width: 100%;">

<h3 class="text-subhead2">{{ 'DISPLAY_AND_HIDE_NAV_ICONS' | translate }}</h3>

<pip-appbar>
    <pip-nav-icon></pip-nav-icon> <!-- pip-appbar-part="icon"-->
</pip-appbar>

<div>
    <md-button class="lm0 md-raised md-accent flat" ng-click="onShowMenuNavIcon()">
        {{ 'SHOW_MENU' | translate }}
    </md-button>
    <md-button class="md-raised md-accent flat" ng-click="onShowBackNavIcon()">
        {{ 'SHOW_BACK' | translate }}
    </md-button>
    <md-button class="md-raised md-accent flat" ng-click="onShowIcon()">
        {{ 'SHOW_ICON' | translate }}
    </md-button>
    <md-button class="md-raised md-accent flat" ng-click="onHideNavIcon()">
        {{ 'HIDE_NAV_ICON' | translate }}
    </md-button>
    <md-button class="md-raised md-accent flat" ng-click="onShowAppBar()">
        {{ 'SHOW_APPBAR' | translate }}
    </md-button>
    <md-button class="md-raised md-accent flat" ng-click="onHideAppBar()">
        {{ 'HIDE_APPBAR' | translate }}
    </md-button>     
</div>

                        </div>
                </pip-main-body>
            </pip-main>    
    </md-content>   