<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Pip.WebUI Nav Sample</title>

    <link rel="stylesheet" href="../lib/pip-webui-lib.css"/>
    <link rel="stylesheet" href="../lib/pip-webui-layouts.css"/>
    <link rel="stylesheet" href="../lib/pip-webui-behaviors.css"/>
    <link rel="stylesheet" href="../lib/pip-webui-themes.css"/>    
    <link rel="stylesheet" href="../dist/pip-webui-nav.css"/>
    <link rel="stylesheet" href="styles.css"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <script src="../lib/pip-webui-lib.js"></script>
    <script src="../lib/pip-webui-services.js"></script>
    <script src="../lib/pip-webui-services.js"></script>
    <script src="../lib/pip-webui-layouts.js"></script>
    <script src="../lib/pip-webui-behaviors.js"></script>
    <script src="../lib/pip-webui-themes.js"></script>    
    <script src="../dist/pip-webui-nav.js"></script>

    <script src="appbar_actions.js"></script>
    <script src="appbar_icons.js"></script>
    <script src="appbar_search.js"></script>
    <script src="appbar_shadows.js"></script>
    <script src="appbar_titles.js"></script>
    <script src="tabs.js"></script>
    <script src="dropdown.js"></script>
    <script src="sticky_sidenav.js"></script>
    <script src="index.js"></script>
</head>

<body ng-app="app" ng-if="!$reset" ng-controller="appController"
      class="layout-column {{$theme}}" md-theme="{{$theme}}">

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="menu"
                   ng-click="onToggleMenu()">
            <md-icon md-svg-icon="icons:menu"></md-icon>
        </md-button>
        <span>Nav components</span>
    </div>
</md-toolbar>

<div class="layout-row flex">
    <pip-sticky-sidenav>
        <pip-sticky-nav-header>
            <!--pip-title="user.fullName"
            pip-subtitle="user.details"
            pip-image="user.imageUrl">-->
        </pip-sticky-nav-header>
        <pip-sticky-nav-menu  xxxpip-sections="content">
        </pip-sticky-nav-menu>
    </pip-sticky-sidenav>    

    <md-content id="content" class="flex" style="padding: 16px; max-width: 100%" >
            <pip-main style="background: lightblue;">
                <pip-main-body style="padding: 24px" class="layout-row layout-align-start-start">
                        <div ui-view style="width: 100%;"></div>
                </pip-main-body>
            </pip-main>    
    </md-content>
</div>

</body>
</html>