<pip-sidenav>
	<pip-nav-header pip-sidenav-part="user"></pip-nav-header>
	<pip-nav-menu pip-sidenav-part="links"></pip-nav-menu>
</pip-sidenav>


<md-content id="content" class="flex" style="padding: 16px; max-width: 100%">
	<pip-main>
		<pip-main-body style="padding: 24px" class="layout-row layout-align-start-start">
			<div style="width: 100%;">

				<div class="layout-row">
					<h2 class="text-title" style="padding-left: 24px;">Side Nav {{ 'SAMPLE' | translate }}</h2>

					<div style="padding-left: 24px;">
						<md-button class="lm0 md-raised md-accent flat" ng-click="onOpenSideNav()">{{ 'OPEN' | translate }} Side Nav</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onCloseSideNav()">{{ 'CLOSE' | translate }} Side Nav</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onToggleSideNav()">{{ 'TOGGLE' | translate }} Side Nav</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onReset()">{{ 'RESET' | translate }} NavService</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onSetTitleSideNav()">{{ 'SET_TITLE' | translate }} Side Nav</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onSetSubtitleSideNav()">{{ 'SET_SUBTITLE' | translate }} Side Nav</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onSetImageSideNav()">{{ 'SET_IMAGE' | translate }} Side Nav</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onResetTitleSideNav()">{{ 'RESET_TITLE' | translate }} Side Nav</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onResetSubtitleSideNav()">{{ 'RESET_SUBTITLE' | translate }} Side Nav</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onResetImageSideNav()">{{ 'RESET_IMAGE' | translate }} Side Nav</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onSetClickSideNav()">{{ 'SET_CLICK' | translate }} Side Nav</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onResetClickSideNav()">{{ 'RESET_CLICK' | translate }} Side Nav</md-button>
						<md-button class="lm0 md-raised md-accent flat" ng-click="onRefreshCounter()">{{ 'REFRESH_COUNTER' | translate }} Side Nav</md-button>
					</div>
				</div>

				<div style="padding-left: 24px;">
					<md-button class="lm0 md-raised md-accent flat" ng-click="onShowNewHeader()">{{ 'SIDENAV_NEW_HEADER' | translate }} Side Nav</md-button>
				</div>

			</div>
		</pip-main-body>
	</pip-main>
</md-content>