<div class="layout-row">
<pip-scale-sidenav xxxng-class="{'flex-fixed': $mdMedia('gt-xs')}">
    <pip-scale-nav-header 
                    pip-title="user.fullName" 
                    pip-sub-title="user.details" 
                    pip-image="user.imageUrl"></pip-scale-nav-header>
    <pip-scale-nav-menu pip-links="links"></pip-scale-nav-menu>
</pip-scale-sidenav>

    <h2 class="text-title">Side Nav {{ 'SAMPLE' | translate }}</h2>

    <div>
        <md-button class="lm0 md-raised md-accent flat" ng-click="onOpenSideNav()">{{ 'OPEN' | translate }} Side Nav</md-button>
        <md-button class="lm0 md-raised md-accent flat" ng-click="onCloseSideNav()">{{ 'CLOSE' | translate }} Side Nav</md-button>
        <md-button class="lm0 md-raised md-accent flat" ng-click="onToggleSideNav()">{{ 'TOGGLE' | translate }} Side Nav</md-button>
        <md-button class="lm0 md-raised md-accent flat" ng-click="onRefreshCounter()">{{ 'REFRESH_COUNTER' | translate }} Side Nav</md-button>
    </div>
</div>