
<div class="layout-row">
<pip-sidenav>
    <pip-nav-header 
                    pip-title="user.fullName" 
                    pip-sub-title="user.details" 
                    pip-image="user.imageUrl"></pip-nav-header>
    <pip-nav-menu pip-links="links"></pip-nav-menu>
</pip-sidenav>

    <h2 class="text-title tm0 bm24">Side Nav {{ 'SAMPLE' | translate }}</h2>

    <div>
        <md-button class="lm0 md-raised md-accent flat" ng-click="onOpenSideNav()">{{ 'OPEN' | translate }} Side Nav</md-button>
        <md-button class="lm0 md-raised md-accent flat" ng-click="onCloseSideNav()">{{ 'CLOSE' | translate }} Side Nav</md-button>
        <md-button class="lm0 md-raised md-accent flat" ng-click="onToggleSideNav()">{{ 'TOGGLE' | translate }} Side Nav</md-button>
    </div>
</div>