<pip-sidenav>
	<pip-nav-header pip-sidenav-part="user"></pip-nav-header>
	<pip-nav-menu pip-sidenav-part="links"></pip-nav-menu>
</pip-sidenav>

<md-content id="content" class="flex" style="padding: 16px; max-width: 100%">
	<pip-main>
		<pip-main-body style="padding: 24px">
			<div>
				<div style="width: 100%;">

					<div class="layout-row">
						<h2 class="text-title" style="padding-left: 24px;">Side Nav {{ 'SAMPLE' | translate }}</h2>

						<div style="padding-left: 24px;">
							<md-button class="lm0 md-raised md-accent flat" ng-click="onSideNavShow()">{{ 'SHOW' | translate }} Side Nav</md-button>
							<md-button class="lm0 md-raised md-accent flat" ng-click="onSideNavHide()">{{ 'HIDE' | translate }} Side Nav</md-button>
							<md-button class="lm0 md-raised md-accent flat" ng-click="onReset()">{{ 'RESET' | translate }} NavService</md-button>
							<md-button class="lm0 md-raised md-accent flat" ng-click="onRefreshCounter()">{{ 'REFRESH_COUNTER' | translate }} Side Nav</md-button>
						</div>
					</div>

					<div style="width: 100%; color: white; font-size: 16px;">
						<div style="background: #4caf50; text-align: center; padding: 24px">
							<p>{{sizeLabel}}</p>
							<p ng-if="media('xs')">xs: [0, 639]</p>
							<p ng-if="media('sm')">sm: [640, 959]</p>
							<p ng-if="media('md')">md: [960, 1024]</p>
							<p ng-if="media('lg')">lg: [1025, 1919]</p>
							<p ng-if="media('xl')">lx: [1920, '-']</p>
						</div>
					</div>

					<div style="width: 100%; color: white; font-size: 16px; margin-top: 48px;">
						<div style="background: #009588; text-align: center; padding: 24px">
							<p>xs: [0, 639]</p>
							<p>sm: [640, 959]</p>
							<p>md: [960, 1024]</p>
							<p>lg: [1025, 1919]</p>
							<p>lx: [1920, '-']</p>
						</div>
					</div>


				</div>
			</div>
		</pip-main-body>
	</pip-main>
</md-content>