<!DOCTYPE html>
<html class="no-scroll">
<head lang="en">
    <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <title>Navigation Controls</title>

    <link rel="stylesheet" href="../../lib/pip-webui-lib.css"/>
    <link rel="stylesheet" href="../../lib/pip-webui-css.css"/>
    <link rel="stylesheet" href="../../lib/pip-webui-layouts.css"/>
    <link rel="stylesheet" href="../../dist/pip-webui-nav.css"/>
    <link rel="stylesheet" href="styles.css"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="../../lib/pip-webui-lib.js"></script>
    <script src="../../lib/pip-webui-core.js"></script>
    <script src="../../lib/pip-webui-rest.js"></script>
    <script src="../../lib/pip-webui-layouts.js"></script>
    <script src="../../dist/pip-webui-nav.js"></script>

    <script src="index.js"></script>
    <script src="config.js"></script>
    <script src="tabs.js"></script>
    <script src="dropdown.js"></script>
</head>

<body ng-app="appNav" ng-if="!$reset" ng-controller="AppController" class="layout-column">
<pip-main class="pip-main">
    <pip-appbar>
    </pip-appbar>

    <pip-sidenav>
    </pip-sidenav>

    <pip-main-body ng-cloak layout="column" class="pip-main-body">
        <md-toolbar class="pip-appbar-ext" >
        </md-toolbar>
        <pip-document class="pip-document" >
            <div class="pip-menu-container">
                <div class="pip-menu">
                    <md-list class="pip-menu pip-simple-list hide-xs"
                             pip-selected="selected.pageIndex"
                             pip-selected-watch="selected.navId"
                             pip-select="onNavigationSelect($event.id)">
                        <md-list-item class="pip-simple-list-item pip-selectable"
                                      ng-repeat="page in pages track by page.state"
                                      md-ink-ripple
                                      pip-id="{{:: page.state }}">
                            <p>{{:: page.title }}</p>
                        </md-list-item>
                    </md-list>
                </div>
                <div class="pip-content-container">
                    <pip-dropdown class="hide-gt-xs"
                                  pip-actions="pages"
                                  pip-dropdown-select="onDropdownSelect"
                                  pip-active-index="selected.pageIndex"></pip-dropdown>
                    <div ui-view></div>
                </div>
            </div>
        </pip-document>
    </pip-main-body>
</pip-main>

</body>
</html>