<!DOCTYPE html>
<html class="no-scroll">
<head lang="en">
    <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <title>Navigation Controls</title>

    <link rel="stylesheet" href="../../lib/pip-webui-lib.css"/>
    <link rel="stylesheet" href="../../lib/pip-webui-css.css"/>
    <link rel="stylesheet" href="../../dist/pip-webui-nav.css"/>
    <link rel="stylesheet" href="styles.css"/>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="../../lib/pip-webui-lib.js"></script>
    <script src="../../lib/pip-webui-core.js"></script>
    <script src="../../dist/pip-webui-nav.js"></script>

    <script src="index.js"></script>
    <script src="tabs.js"></script>
    <script src="dropdown.js"></script>
</head>

<body ng-app="appNav" ng-if="!$reset" ng-controller="AppController" layout="column" pip-main  class="pip-main layout-column" >
    <div class="pip-appbar">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="menu" 
                ng-click="onToggleMenu()" hide-gt-sm>
                <md-icon md-svg-icon="icons:menu"></md-icon>
            </md-button>
            <div class="flex-var text-overflow">Navigation Controls</div>
            <div class="flex-fixed">
            <md-menu md-position-mode="target-right target">
                <span
                      ng-click="$mdOpenMenu()"
                      aria-label="theme selection">
                    {{ $theme | translate}}
                    <md-icon md-svg-icon="icons:triangle-down"></md-icon>
                </span>
                <md-menu-content width="3">
                    <md-menu-item ng-repeat="theme in themes">
                        <md-button ng-click="onThemeClick(theme)">{{theme | translate}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu md-position-mode="target-right target">
                <span ng-click="$mdOpenMenu()"
                      aria-label="language selection">
                    {{ $language | translate}}
                    <md-icon md-svg-icon="icons:triangle-down"></md-icon>
                </span>
                <md-menu-content width="3">
                    <md-menu-item ng-repeat="lang in languages">
                        <md-button ng-click="onLanguageClick(lang)">{{lang | translate}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            </div>
        </div>
    </md-toolbar>
    </div>
        
    <div layout="row" flex style="max-height: calc(100% - 64px)">
        <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
            layout="column" class="md-whiteframe-z2 md-sidenav-left">
            <md-list>
                <md-list-item ng-repeat="contentItem in content" 
                    ng-click="onSwitchPage(contentItem.state)"
                    ng-class="{ 'selected': isActiveState(contentItem.state) }">
                    <p ui-sref="{{contentItem.state}}">{{contentItem.title}}</p>
                </md-list-item>
            </md-list>
        </md-sidenav>
        
        <md-content id="content" flex ng-class="{'p24-flex': isPadding()}">
            <div ui-view></div>
        </md-content>
    </div>
</body>
</html>